<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2> About us and our mission? </h2>
      We are a dynamic young company, and born with the mission of making technological learning easier.
      <br>
      <br>
      <br>
      <h2> How are our beginnings? </h2>
      We started in Spain in 2016 with an assortment of high-end technology products and with a big goal:
      <br>
      · Make more comfortable learning from our customers.
      <br>
      · With the peace it brings to have the material manufacturer.
      <br>
      <br>
      <br>
      <h2> Social Responsibility </h2>
      They included in all areas of our business. Following one of the most characteristic values
      from
      this company, honesty, compupack has in its code of ethics principles such as child protection,
      fulfillment
      of legislation, support to other entities of the countries in which it operates and sustainability.
      <br>
      <br>
      <br>
      <h2> Our Values ​​</h2>
      Our values ​​describe the main features that compupack born and reflect the best
      aspects
      of our young, restless, multicultural and eager to achieve success through a computer service
      excellent customer throughout the buying process, with social responsibility to our employees and the
      countries
      where we operate.
      <br>
      <br>
      1.Dinámicos and innovative, with the same excitement the first day.
      <br>
      · Because we are passionate for innovative purchases, without losing sight of the traditional buy and give the
      possibility that our customers save money.
      <br>
      · Incorporating new features frequently, in response to suggestions from our users.
      <br>
      <br>
      2.The customer, our greatest motivation.
      <br>
      · An excellent customer service in all our interactions with each of the users, from design
      our portals and social networks, to product delivery and after-sales service.
      <br>
      <br>
      3.Honestos, a quality that characterizes its founding partners and runs through his entire team, and so
      get:
      <br>
      · Ensuring the highest quality in all products and in the sales process.
      <br>
      · To maintain the safety and reliability throughout the buying process, with elements that ensure fair purchases.
      <br>
      <br>
      <br>
      <h2> Code of Ethics </h2>
      Honesty is a key to compupack quality and therefore all suppliers participating in the
      process
      from
      purchase or sale, must respect and maintain an ethical and social code compliant. Also, following the
      guidelines
      online commerce in Spain, the following principles compupack adheres as part of its ethical code
      <br>
      <br>
      1. Having a natural respect for ethical standards in the context of all cultures.
      <br>
      <br>
      2. Extend the principle of fairness and honesty in all interactions involving agreements, either
      the
      entities with which they do business, including employees, subcontractors and other third parties.
      <br>
      <br>
      3. Pursue compliance with these standards in all activities compupack.
      <br>
      <br>
      <br>
      <h2> What is compupack service? </h2>
      Compupack is the best option computer packs.
      <br>
      Once you buy our pack, you have everything you need to learn and develop.
      <br>
      We only sell new products with all official guarantees, which radically differentiates us from other sites
      what
      second-hand market products without the manufacturers' warranties.
    </div>
  </div>
</div>