<div class = "container-fluid">
  <div class = "row">
    <div class = "col-md-offset-2 col-md-8">
      <h2> Customer: </h2>
      <b> Telephone: 902 XX XX XX </b> (Hours Monday through Friday from 9 h to 20 h..)
      <br>
      <br>
      You can also contact us by calling our telephone Customer Service 902 XX XX XX.
      <br>
      <br>
      <br>
      <b> Email: (Hours Monday through Friday from 9 h to 20 h..) </b>
      <br>
      <br>
      For any incident, suggestions, questions or comments you can contact us by email
      <a class="link-color-black" info@compupack.es href="mailto:info@compupack.es"> </a> and our Service team
      Customer will respond as soon as possible.
    </div>
  </div>
</div>
