<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <h2> Privacy Policy </h2>
      This Privacy Policy is part of the Legal Notice of compupack website located at the URL
      compupack.es (hereinafter, the "Platform").
      <br>
      <br>
      <br>
      In compliance with the provisions of Law 15/1999 of 13 December, Data Protection of Character
      Personal and its implementing regulations, compupack, S.L. (Hereinafter, "compupack"), established in
      XXXXXXXXX,
      and C.I.F XXXXXXXX, as responsible for the file you that:
      <br>
      <br>
      This Privacy Policy describes related information gathering all these aspects while
      compupack.es visiting. Please read this Privacy Policy before using the Platform or send
      personal information through our various channels of contact.
      <br>
      By accepting this Privacy Policy, you are accepting and consenting to the practices here
      described as well as the collection, storage, use and disclosure of your personal information as it is
      describes
      in this document.
      <br>
      If you do not agree with these practices, you are free to stop using the portal compupack.es any
      moment
      <br>
      <br>
      <br>
      Your data is collected exclusively by us according to legal regulations of Spain and the Law
      Data Protection.
    </div>
  </div>
</div>
