<div class="row">
  <div class="col-md-12">
    <%= render 'layouts/caroussels/big_caroussel' %>
  </div>

  <div class="col-md-12">
    <%= render 'layouts/caroussels/products_caroussel' %>
  </div>
</div>
