<div class="main">
  <div class="container">
    <h1>Result of the Purchase </h1>
    <p>Token: <%= @t%></p>
    <p>PayerID: <%= @p%></p>
    <p><%= @result.message%> </p>
    <% if @result.success? %>
        <p>OK</p>
    <% else %>
        <p>Error</p>
    <% end %>
    <%= button_to 'Back', root_path, :class => 'button', :method => :get  %>
  </div>
</div>
