<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha pedido un link para cambiar tu contraseña. Puedes hacer eso en el link inferior:</p>

<p><%= link_to t('change_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no has pedido esto, por favor ignora este email.</p>
<p>Tu contraseña no será cambiada a menos que accedas al link inferior y crees una nueva.</p>
