<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>¿Quiénes somos y nuestra misión?</h2>
      Somos una compañía joven, y dinámica que nace con la misión de hacer más fácil el aprendizaje tecnológico.
      <br>
      <br>
      <br>
      <h2>¿Cómo son nuestros inicios?</h2>
      Hemos arrancado en España en 2016 con un surtido de productos tecnológicos de alta gama y con un gran objetivo:
      <br>
      ·Hacer más cómodo el aprendizaje de nuestros clientes.
      <br>
      ·Con la tranquilidad que aporta tener el material del fabricante.
      <br>
      <br>
      <br>
      <h2>Responsabilidad social</h2>
      En la que se incluyen todos los ámbitos de nuestra actividad. Siguiendo con uno de los valores más característicos
      de
      esta compañía, la honestidad, compupack tiene en su código ético principios como la protección a menores,
      cumplimiento
      de la normativa, apoyo a otras entidades de los países en los que opera y la sostenibilidad.
      <br>
      <br>
      <br>
      <h2>Nuestros Valores</h2>
      Nuestros valores describen las principales características con las que nace compupack y reflejan los mejores
      aspectos
      de nuestro equipo joven, inquieto, multicultural y con muchas ganas de lograr el éxito a través de un servicio
      excelente al cliente en todo el proceso de compra, con responsabilidad social hacia nuestros empleados y en los
      países
      donde operamos.
      <br>
      <br>
      1.Dinámicos e innovadores, con la misma ilusión del primer día.
      <br>
      ·Porque nos mueve la pasión por las compras innovadoras, sin perder de vista la compra tradicional y dar la
      posibilidad de que nuestros clientes ahorren dinero.
      <br>
      ·Incorporando novedades de manera frecuente, atendiendo a las sugerencias de nuestros usuarios.
      <br>
      <br>
      2.El cliente, nuestra máxima motivación.
      <br>
      ·Un servicio al cliente excelente en todas nuestras interacciones con cada uno de los usuarios, desde el diseño de
      nuestros portales y redes sociales, hasta la entrega del producto y el servicio post-venta.
      <br>
      <br>
      3.Honestos, cualidad que caracteriza a sus socios fundadores y se extiende a través de todo su equipo, y así
      conseguir:
      <br>
      ·Garantizar la máxima calidad en todos los productos y en el proceso de venta.
      <br>
      ·Mantener la seguridad y fiabilidad en todo el proceso de compra, con elementos que aseguren compras justas.
      <br>
      <br>
      <br>
      <h2>Código Ético</h2>
      La honestidad es una cualidad clave para compupack y, por tanto, todos los proveedores que participen en el
      proceso
      de
      compra o venta, deberán respetar y mantener un código ético y social compatible. Asimismo, y siguiendo las
      directrices
      del comercio online en España, compupack se adhiere a los siguientes principios como parte de su código ético
      <br>
      <br>
      1. Tener un respeto natural por los estándares éticos en el contexto de todas las culturas.
      <br>
      <br>
      2. Extender el principio de justicia y honestidad en todas las interacciones que impliquen acuerdos, ya sea con
      las
      entidades con las que se hacen negocios, incluyendo empleados, subcontratados y otras terceras partes.
      <br>
      <br>
      3. Perseguir el cumplimiento de estos estándares en todas las actividades de compupack.
      <br>
      <br>
      <br>
      <h2>¿En qué consiste el servicio de compupack?</h2>
      Compupack es la mejor opción de compra de packs informáticos.
      <br>
      Una vez compras nuestro pack, ya tienes todo lo necesario para aprender y desarrollar.
      <br>
      Sólo vendemos Productos Nuevos,con todas las Garantías oficiales, lo que nos diferencia radicalmente de otras webs
      que
      comercializan productos de segunda mano y sin las garantías de los fabricantes.
    </div>
  </div>
</div>
