<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <h2>Atención al cliente:</h2>
      <b>Teléfono: 902 XX XX XX (Horario de Lunes a Viernes de 9 h. a 20 h.)</b>
      <br>
      <br>
      También puedes comunicarte con nosotros llamándonos a nuestro teléfono de Atención al Cliente 902 XX XX XX.
      <br>
      <br>
      <br>
      <b>Correo electrónico: (Horario de Lunes a Viernes de 9 h. a 20 h.)</b>
      <br>
      <br>
      Para cualquier incidencia, sugerencia, duda o comentario puedes contactarnos al correo electrónico
      <a class="link-color-black" href="mailto:info@compupack.es">info@compupack.es</a> y nuestro equipo de Atención al
      Cliente te responderá lo más pronto posible.
    </div>
  </div>
</div>
