<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <h2>Política de Privacidad</h2>
      La presente Política de Privacidad es parte integrante del Aviso Legal del sitio web compupack ubicado en la URL
      compupack.es (en adelante, la “Plataforma”).
      <br>
      <br>
      <br>
      En cumplimiento de lo dispuesto en la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter
      Personal y su normativa de desarrollo, compupack, S.L. (en adelante, “compupack”), con domicilio social en
      XXXXXXXXX,
      y con C.I.F. XXXXXXXX, en su calidad de responsable del fichero le comunica que:
      <br>
      <br>
      Esta Política de Privacidad describe todos los aspectos relacionados con la recogida de información mientras estas
      visitando compupack.es. Por favor, lee esta Política de Privacidad antes de usar la Plataforma o de enviarnos
      información personal a través de nuestras diferentes vías de contacto.
      <br>
      Mediante la aceptación de esta Política de Privacidad, estas aceptando y consintiendo las prácticas que aquí se
      describen, así como la recopilación, almacenamiento, uso y divulgación de tu información personal tal cual se
      describe
      en este documento.
      <br>
      Si no estás de acuerdo con estas prácticas, eres libre dejar de usar el portal de compupack.es en cualquier
      momento
      <br>
      <br>
      <br>
      Tus datos son recogidos exclusivamente por nosotros de acuerdo a las Normativas Legales de España y la Ley de
      Protección de Datos.
    </div>
  </div>
</div>
