  <li class="dropdown"><a href="#" class="navbar-item dropdown-toggle" data-toggle="dropdown">Account
    <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li>
        <div class="navbar-content">
          <div class="row">
            <div class="col-md-5">
              <% if @client.image? %>
                  <%= image_tag @client.image.thumb.url %>
              <% else %>
                  <img src="http://placehold.it/120x120"
                       alt="Alternate Text" class="img-responsive" />
              <% end %>
              <p class="text-center small">
            </div>
            <div class="col-md-7">
              <%= current_user.email %>
              <div class="divider">
              </div>
            </div>
          </div>
        </div>
        <div class="navbar-footer">
          <div class="navbar-footer-content">
            <div class="row">
              <div class="col-md-6">
                <%= link_to('Perfil', {controller: 'clients', action: 'edit'}, class: 'btn btn-primary btn-sm active') %>
              </div>
              <div class="col-md-6">
                <%= link_to(t('logout'), destroy_user_session_path, :method => :delete,
                            :class => 'btn btn-default btn-sm pull-right') %>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </li>
<li><p class="navbar-text login-text">

</li>
